<div class="container">
        <div class="row">
            <div class="col">
                    <p style="margin-bottom: 0px;">This site is maintained my <a class="exigency-link" href='#' style="text-decoration: none;">Exigency Specialists</a></p>
            </div>
        </div>
    </div>