<section id="Navbar" class="py-3 ">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
        <a href="/" class="navbar-brand"><img src="/images/exigency-logo.png" class="mx-3" width="40" height="40">Exigency Network</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                <span class="navbar-toggler-icon">
                                </span>
                        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about-us-loggedout" class="nav-link">Explore Us</a>
                </li>
                <li class="nav-item">
                    <a href="/users/login" class="nav-link">Log In</a>
                </li>
                <li class="nav-item">
                    <a href="/users/Register" class="nav-link">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</section>

<section id="hero-area" class="py-3">
    <div class="primary-overlay text-white">
        <div class="container">
            <div id="hero-banner" class="row  align-item-center" style="display: none;">
                <div class="col">
                    <div class="text-center align-self-center align-center">
                        <img src="/images/hero-area-banner-icon.png" alt="" class="hero-png pb-2 img-fluid">
                    </div>
                    <div class="text-center align-self-center align-center">
                        <h1>Welcome To Exigency Network</h1>
                        <p class="lead">Get To Know Us More</p>
                        <div class="icon-down"><i class="fas fa-chevron-down fa-2x pt-2"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="life-intro">
    <div class="container text-center py-5">
        <div class="row justify-content-center py-3" id="why-exi" style="display: none;">
            <div class="col-lg-4 align-self-center align-center py-2">
                    <p class="h1" style="font-size:50px;font-family: lato;">Why Exigency?</p>
            </div>
            <div class="col-lg-4 align-self-center align-center py-2">
                    <img src="/images/human-life.png" alt="" class="pb-2 img-fluid d-inline" height="50%" width="50%">
                    <p class="lead pb-4" style="font-size: 20px; font-family: lato;">We Value Your Life</p>
                    <img src="/images/travel.png" alt="" class="pb-2 img-fluid d-inline" height="50%" width="50%">
                    <p class="lead pb-4" style="font-size: 20px; font-family: lato;">Travel More Secure With Us</p>
            </div>
            <div class="col-lg-4 align-self-center align-center py-2">
                    <img src="/images/heartbeat.png" alt="" class="pb-2 img-fluid d-inline" height="50%" width="50%">
                    <p class="lead pb-4" style="font-size: 20px; font-family: lato;">No More Worries We Got Your Heartbeat Covered</p>
                    <img src="/images/give.png" alt="" class="pb-2 img-fluid d-inline" height="50%" width="50%">
                    <p class="lead pb-4" style="font-size: 20px; font-family: lato;">An Extra Lifeline To Your Life</p>
            </div>
        </div>
    </div>
</section>

<section id="about" class="py-4" style="overflow: hidden">
    <div class="cointainer text-center">
        <div class="row py-4 align-item-center text-center justify-content-center">
            <div id="about-head">
                <h2>About Exigency Network</h2>
                <hr style="background-color:rgb(222,213,28); width:40%;" />
            </div>
        </div>
        <div class="row align-item-center text-center justify-content-center">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 align-self-center">
                <img src="/images/about-abstract.png" alt="" class="img-fluid icon-explore">
            </div>
            <div class="col-lg-5 align-self-center ">
                    <p class="text-justify p-3 h5 font-weight-light"  style="font-family: times; font-size: 18px;">
                            Exigency aid and probe network is an idea to save life in road accident or call for help in the hours of need. Previously analysed data has presented a fact that innumerable accidents that resulted in loss of life were from remote area due to lack of support. In this we have presented an
                            idea to reduce such cases with the help of an integrated module. The concentration is on light and heavy motor vehicle. The sensor system of these vehicle has been developed as a unit of integrated rescue system to save those valuable
                            lives. Moreover, analysing this data to prevent further accident. In this project we have given an utmost to important to “human life” as the loss of it is irreparable and very painful. Our analyzation of data has presented a fact that many deaths occurred not because of the accident but due to the delay in the rescue
                            operation in those areas. In numerous past accidental reports have shown them those as “spot death of victim”. However, we have keenly observed those reports and found that the death occurred more than the hour past to accident. From
                            were we extracted one very socking fact that those lives may have been saved within paramount time period. From this fact lead us to think about those valuable lives, which intern resulted in the ignition of this project.
                        </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

<section id="thief" class="py-4" style="overflow: hidden">
        <div class="cointainer text-center">
            <div class="row py-4 align-item-center text-center justify-content-center">
                <div>
                    <hr style="background-color:rgb(222,213,28); width:40%;" />
                </div>
            </div>
            <div class="row align-item-center text-center justify-content-center">
                <div class="col-lg-1"></div>
                <div class="col-lg-5 align-self-center">
                    <img src="/images/thief.png" alt="" class="img-fluid icon-explore">
                </div>
                <div class="col-lg-5 align-self-center">
                        <p class="text-justify p-3 h5 font-weight-light"  style="font-family: times; font-size: 20px;">
                                Walking down the lonely streets in the long dark nights can be insecure. Anyone can face problems like thieft, robbery or any other life threatening issue but now don't worry, Exigency aid and probe network 
                                has got you covered. Get yourself to a secure spot and click the get help button. We got you covered. Remember stay calm and breathe!
                            </p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>
    <section id="women" class="py-4" style="overflow: hidden">
            <div class="cointainer text-center">
                <div class="row py-4 align-item-center text-center justify-content-center">
                    <div id="about-head">
                        <hr style="background-color:rgb(222,213,28); width:40%;" />
                    </div>
                </div>
                <div class="row align-item-center text-center justify-content-center">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5 align-self-center">
                        <img src="/images/women-alarm.png" alt="" class="img-fluid icon-explore">
                    </div>
                    <div class="col-lg-5 align-self-center">
                            <p class="text-justify p-3 h5 font-weight-light"  style="font-family: times; font-size: 20px;">
                                Is someone following you? Or your cab driver taking the wrong route! Maybe it's time to call for help now! Don't worry we are here to protect our pride, yes that is our feminine part of the society.
                                Even with the developing society, the security of our feminine part of the society is continuously facing challenges, whether coming back from office late night or going to unknown places in the new city.
                                With Exigency you can always keep in touch with a security panel that will help in the helpless hours.        
                            </p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </section>