<section id="Navbar">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark py-3">
          <div class ="container">
          <a href="index.html" class="navbar-brand">Exigency Network</a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                  <span class="navbar-toggler-icon">
                  </span>
          </button>

                  <div class="collapse navbar-collapse" id="navbarCollapse">
                  <ul class="navbar-nav ml-auto">
                          <li class="nav-item">
                          <a href="/" class="nav-link">Home</a>
                          </li>
                          <li class="navbar-item">
                          <a href="/about-us-loggedout" class="nav-link">Explore Us</a>
                          </li>
                          <a href="/users/login" class="nav-link">Log In</a>
                          </li>
                          <li class="navbar-item">
                                  <a href="/users/Register" class="nav-link">Register</a>
                          </li>
                  </ul>
                  </div>
          </div>
      </nav>
    </section>

    <section id="hero-area" class="py-3">
        <div class="primary-overlay text-white">
                <div class="container">
                        <div id="hero-banner" class="row w-100 align-item-center">
                          <div class="col">
                                  <div class="text-center align-self-center align-center">
                                          <img src="/images/hero-area-banner-icon.png" alt="" class="img-fluid">
                                  </div>
                                  <div class="text-center align-self-center align-center">
                                          <h1>Welcome To Exigency Network</h1>
                                          <p class="lead">A safe insurance to your comforting drives</p>
                                  </div>
                          </div> 
                        </div>
                </div>
        </div>
</section>

<section id="about" class="py-4">
    <div class="cointainer text-center">
        <div class="row py-4 align-item-center text-center justify-content-center">
            <div id="about-head">
                    <h2>About Exigency Network</h2>
                    <hr style="background-color:rgb(222,213,28); width:40%;"/>
            </div>
        </div>
            <div class="row align-item-center text-center justify-content-center">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5 align-self-center">
                            <p class="text-justify p-1 h5 font-weight-light">
                                    Exigency aid and probe network is an idea to
                                    save life in road accident. Previously analysed
                                    data has presented a fact that innumerable
                                    accidents that resulted in loss of life were from
                                    remote area due to lack of support. In this we
                                    have presented an idea to reduce such cases
                                    with the help of an integrated module. The
                                    concentration is on light and heavy motor
                                    vehicle. The sensor system of these vehicle has
                                    been developed as a unit of integrated rescue
                                    system to save those valuable lives. Moreover,
                                    analysing this data to prevent further accident.
                            </p>
                        </div>
                    <div class="col-lg-5 align-self-center">
                        <img src="/images/about-abstract.png" alt="" class="img-fluid w-75">
                    </div>
                    <div class="col-lg-1"></div>
            </div>
            <div class="row align-item-center text-center justify-content-center">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5 align-self-center">
                        <img src="/images/graph.png" alt="" class="img-fluid w-75">
                    </div>
                    <div class="col-lg-5 align-self-center">
                            <p class="text-justify p-1 h5 font-weight-light">
                                    In this project we have given an utmost to
                                    important to “human life” as the loss of it is
                                    irreparable and very painful. Our analyzation of
                                    data has presented a fact that many deaths
                                    occurred not because of the accident but due
                                    to the delay in the rescue operation in those
                                    areas. In numerous past accidental reports
                                    have shown them those as “spot death of
                                    victim”. However, we have keenly observed
                                    those reports and found that the death
                                    occurred more than the hour past to accident.
                                    From were we extracted one very socking fact
                                    that those lives may have been saved within
                                    paramount time period. From this fact lead us
                                    to think about those valuable lives, which
                                    intern resulted in the ignition of this project.
                            </p>
                        </div>
                    <div class="col-lg-1"></div>
            </div>
    </div>
</section>