<section id="Navbar">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark py-3">
           <div class ="container">
               <a href="index.html" class="navbar-brand">Exigency Network</a>
               <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                   <span class="navbar-toggler-icon">
                   </span>
               </button>
   
                   <div class="collapse navbar-collapse" id="navbarCollapse">
                       <ul class="navbar-nav ml-auto">
                           <li class="nav-item">
                               <a href="/dashboard" class="nav-link">Profile</a>
                           </li>
                           <li class="navbar-item">
                               <a href="/analysis" class="nav-link">Analysis</a>
                           </li>
                           <li class="navbar-item">
                               <a href="/users/logout" class="nav-link">Log Out</a>
                           </li>
                           <li class="navbar-item">
                                   <a href="/dashboard" class="nav-link">Hi <%= Fname %>!</a>
                               </li>
                       </ul>
                   </div>
           </div>
   </nav>
   </section>
   <section id="hero-area" class="py-3">
       <div class="primary-overlay text-white">
           <div class="container">
                   <div id="hero-banner" class="row w-100 align-item-center">
                       <div class="col">
                               <div class="text-center align-self-center align-center">
                                       <img src="/images/hero-area-banner-icon.png" alt="" class="img-fluid">
                               </div>
                               <div class="text-center align-self-center align-center">
                                       <h1>Coming Soon</h1>
                                       <p class="lead">Sorry For the Inconvenience</p>
                               </div>
                       </div> 
                   </div>
           </div>
       </div>
   </section>