<section id="quickLaunch" class="" style="height: auto;" onmousemove="getLocation()">
    <div class="container py-3">
        <div class="row text-center justify-content-center" style="display: none;" id="quickLaunch-banner">
            <div class="col align-self-center">
                <div class="space py-3"></div>
                <div class="space py-5">
                    <img src="/images/hero-area-banner-icon.png" alt="" class="hero-png img-fluid pb-2" width="15%" height="15%">
                    <div class="exigency-name display-4 font-weight-medium pb-3" style="color: white">Welcome To Exigency</div>
                </div>
                <div id="quickbutton" class="quickbutton">
                    <button class="btn btn-danger p-3 w-50" onclick="showHelp();"><i class="fas fa-hand-holding-heart"></i>Get Help!</button>
                </div>
                <div id="input-quick-help" style="display: none;">
                    <form action="/location/webAuthLoggedin" method="post">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <div class="container pl-5">
                                    <div class="row m-0">
                                        <div class="col-3 text-right">
                                            <span class="input-group-addon"><i class="fa fa-user fa-2x pt-2"></i></span>
                                        </div>
                                        <div class="col-6 px-1">
                                            <input name="authNo" type="text" id="authNo" class="form-control rounded" placeholder="Enter Authentication Number" value="<%= authNo %>" onclick="getLocation()">
                                        </div>
                                        <div class="col-3"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group d-none">
                            <div class="input-group input-group-lg">
                                <div class="container">
                                    <div class="row m-0">
                                        <div class="col-2 text-right">
                                            <span class="input-group-addon"><i class="fas fa-thumbtack fa-2x pt-2"></i></span>
                                        </div>
                                        <div class="col-5 px-1">
                                            <input name="lat" type="text" id="latitude" class="form-control rounded" placeholder="Latitude">
                                        </div>
                                        <div class="col-5 px-1">
                                            <input name="long" type="text" id="longitude" class="form-control rounded" placeholder="longitude">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p id="ip" style="font-size: 15px" class="lead "></p>
                        <input type="submit" onmouseover="getLocation()" class="btn btn-inline btn-rounded bg-danger w-50">
                    </form>
                </div>
                <div class="space py-5"></div>
                <div class="space py-3"></div>

            </div>
        </div>
    </div>
</section>
<section id="skipLaunch" class="" style="height: auto; background-color: rgb(224, 202, 0);">
    <div class="container pb-3">
        <div class="row text-center justify-content-center">
            <div class="col align-self-center">
                <div class="space py-3"></div>
                <div class="quickbutton">
                    <a href="#navbar" class="exigency-name h1 btn btn-inline btn-rounded" style="color: white; background: black;" onclick="revealQuickLaunch();">Skip To Our Site</a>
                </div>
                <div class="space py-1"></div>
            </div>
        </div>
    </div>
</section>
<section id="Navbar" class="py-3 d-none">
    <a name="navbar"></a>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
        <a href="/index-loggedin" class="navbar-brand"><img src="/images/exigency-logo.png" class="mx-3" width="40" height="40">Exigency Network</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon">
                        </span>
                </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/index-loggedin" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link">Profile</a>
                </li>
                <li class="nav-item <%= typeof title == 'analysis' ? active: '' %>">
                    <a href="/analysis" class="nav-link">Analysis</a>
                </li>
                <li class="nav-item">
                    <a href="/users/logout" class="nav-link">Log Out</a>
                </li>
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link">Hi <%= Fname %>!</a>
                </li>
            </ul>
        </div>
    </nav>

</section>
<section id="hero-area" class="py-3 d-none">
    <div class="primary-overlay text-white">
        <div class="container">
            <div id="hero-banner" class="row align-item-center" style="display: none;">
                <div class="col">
                    <div class="text-center align-self-center align-center">
                        <img src="/images/hero-area-banner-icon.png" alt="" class="hero-png pb-2 img-fluid">
                    </div>
                    <div class="text-center align-self-center align-center">
                        <h1>Welcome To Exigency Network</h1>
                        <p class="lead">A safe insurance to your comforting drives</p>
                        <div class="icon-down"><i class="fas fa-chevron-down fa-2x pt-2"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="crash-flash" class="py-3 d-none">
    <div class="container py-5">
        <div id="crash-flash-row" class="row justify-content-center text-center w-100">
            <div class="col-lg-3 col-md-4 align-self-center text-lg-right">
                <img src="/images/crash-flash-banner.png" alt="" class="img-fluid w-100" style="width: 75% !important;
                            height: 75% !important;">
            </div>
            <div class="col-lg-6 col-md-4 align-self-center text-lg-center">
                <h2>Worried Travelling Places?</h2>
                <p class="lead">Now no more worries with exigency network</p>
            </div>
            <div class="col-lg-3 col-md-4 align-self-center text-lg-left">
                <img src="/images/women-safe.png" alt="" class="img-fluid w-75" style="width: 75% !important;
                            height: 75% !important;">
            </div>
        </div>
    </div>
</section>

<section id="features" class="py-4 d-none">
    <div class="container text-center">
        <div id="feature-header" class="d-block row justify-content-center pt-4 mb-3">
            <h2>
                Features
            </h2>
            <hr style="color: #000000; width:40%;" />
        </div>
        <div class="row pb-3 justify-content-center">
            <div class="col-lg-3 col-md-3 align-self-center">
                <div class="icon-box py-4">
                    <div>
                        <span><i class="fas fa-map-marker-alt fa-2x"></i></span>
                    </div>
                    <div>
                        <h6 class="d-inline pl-2">Autonomous GPS Monitoring Of Your Vehicle</h6>
                    </div>
                </div>
                <div class="icon-box py-4">
                    <div>
                        <span><i class="far fa-hospital fa-2x"></i></span>
                    </div>
                    <div>
                        <h6 class="d-inline pl-2">Pinned Nearby Hospitals</h6>
                    </div>
                </div>
                <div class="icon-box py-4">
                    <div>
                        <span><i class="fab fa-500px fa-2x"></i></span>
                    </div>
                    <div>
                        <h6 class="d-inline pl-2">Vibration Sensor For Impact & Speed</h6>
                    </div>
                </div>
                <div class="icon-box py-4">
                    <div>
                        <span><i class="fas fa-tachometer-alt fa-2x"></i></span>
                    </div>
                    <div>
                        <h6 class="d-inline pl-2">Speed Monitoring With OverSpeeding Waring</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 align-self-center">
                <div class="icon-box py-4">
                    <div>
                        <span><i class="fas fa-bell fa-2x"></i></span>
                    </div>
                    <div>
                        <h6 class="d-inline pl-2">Embedded Alarm System</h6>
                    </div>
                </div>
                <div class="icon-box py-4">
                    <div>
                        <span><i class="fas fa-ambulance fa-2x"></i></span>
                    </div>
                    <div>
                        <h6 class="d-inline pl-2">Notification To Nearby Hospitals With Location</h6>
                    </div>
                </div>
                <div class="icon-box py-4">
                    <div>
                        <span><i class="far fa-envelope-open fa-2x"></i></span>
                    </div>
                    <div>
                        <h6 class="d-inline pl-2">Notification To Emergency Contacts</h6>
                    </div>
                </div>
                <div class="icon-box py-4">
                    <div>
                        <span><i class="fas fa-universal-access fa-2x"></i></span>
                    </div>
                    <div>
                        <h6 class="d-inline pl-2">No Help Required</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 align-self-center">
                <div class="icon-box py-4">
                    <div>
                        <span><i class="fas fa-user-secret fa-2x"></i></span>
                    </div>
                    <div>
                        <h6 class="d-inline pl-2">Notification To Nearby Police Station</h6>
                    </div>
                </div>
                <div class="icon-box py-4">
                    <div>
                        <span><i class="fas fa-database fa-2x"></i></span>
                    </div>
                    <div>
                        <h6 class="d-inline pl-2">Live Location Updated Continuously</h6>
                    </div>
                </div>
                <div class="icon-box py-4">
                    <div>
                        <span><i class="fas fa-chart-line fa-2x"></i></span>
                    </div>
                    <div>
                        <h6 class="d-inline pl-2">Analysis Of Risk Prone Zone</h6>
                    </div>
                </div>
                <div class="icon-box py-4">
                    <div>
                        <span><i class="fas fa-map-marker-alt fa-2x"></i></span>
                    </div>
                    <div>
                        <h6 class="d-inline pl-2">Autonomous GPS Monitoring Of Your Vehicle</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 align-self-center">
                <div class="icon-box pt-3 pb-4">
                    <div>
                        <span><i class="fab fa-angellist fa-2x"></i></span>
                    </div>
                    <div>
                        <h6 class="d-inline pl-2">Quick Launch Safety Call</h6>
                    </div>
                </div>
                <div class="icon-box py-4">
                    <div>
                        <span><i class="fas fa-female fa-2x"></i></span>
                    </div>
                    <div>
                        <h6 class="d-inline pl-2">Women Safety</h6>
                    </div>
                </div>
                <div class="icon-box py-4">
                    <div>
                        <span><i class="fab fa-algolia fa-2x"></i></span>
                    </div>
                    <div>
                        <h6 class="d-inline pl-2">Manual Safety Call Feature</h6>
                    </div>
                </div>
                <div class="icon-box py-4">
                    <div>
                        <span><i class="fab fa-accessible-icon fa-2x"></i></span>
                    </div>
                    <div>
                        <h6 class="d-inline pl-2"> Moreover It's Free</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="meet-team" class="text-center py-5 d-none">
    <div class="container py-3">
        <div class="row justify-content-center mb-3">
            <div id="team-header" class="py-4 mb-5">
                <h1 class="display3">Meet The Creators</h1>
                <p class="lead text-center">We are The ones</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img src="/images/pratyush.jpg" alt="" class="img-fluid rounded-circle w-50 pb-2">
                        <h3>Pratyush Kumar</h3>
                        <h6 class="text-muted">IOT Developer</h6>
                        <p class="text-justify">I'm quietly confident, natuarlly curious, and perpetually working on improving my chops one design problem at a time. I enjoy being challenged and engaging with projects that require me to work outside my comfort and knowledge
                            set, as continuing to learn new development techniques are important to me.</p>
                    </div>
                    <div class="d-flex flex-row justify-content-center pb-2">
                        <div class="p-4">
                            <a href="https://www.facebook.com/pratyush.kumar.31945"><i class="fab fa-facebook fa-2x"></i></a>
                        </div>
                        <div class="p-4">
                            <a href="https://www.linkedin.com/in/pratyush-kumar-041"><i class="fab fa-linkedin fa-2x"></i></a>
                        </div>
                        <div class="p-4">
                            <a href="https://www.instagram.com/pratyushkumar41"><i class="fab fa-instagram fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img src="/images/rahul.jpg" alt="" class="img-fluid rounded-circle w-50 pb-2">
                        <h3>Rahul Mahato</h3>
                        <h6 class="text-muted">Web Developer</h6>
                        <p class="text-justify">Curious about learning new technologies and concepts and implementing them in different ways. Loves challenging scenarios and works which requires some good amount of effort. Likes working in a diverse atmosphere abd interacting
                            with and learning from different people.
                            <br />
                            <br />

                        </p>
                    </div>
                    <div class="d-flex flex-row justify-content-center pb-2">
                        <div class="p-4">
                            <a href="https://www.facebook.com/rocker785"><i class="fab fa-facebook fa-2x"></i></a>
                        </div>
                        <div class="p-4">
                            <a href="https://www.linkedin.com/in/rahul-mahato-550692176"><i class="fab fa-linkedin fa-2x"></i></a>
                        </div>
                        <div class="p-4">
                            <a href="https://www.instagram.com/_.rahul_mahato"><i class="fab fa-instagram fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <img src="/images/debraj.jpg" alt="" class="img-fluid rounded-circle w-50 pb-1">
                        <h3>Debraj Sengupta</h3>
                        <h6 class="text-muted">Web Developer</h6>
                        <p class="text-justify">A web enthusiast, trying to pursue dreams and follow technologies that matter. A strong believer of trying hard than failing. Exploring roads that is paved with complexity and structuring self-phlegmatic identity that is built
                            upon experiences. Afterall a journey of a thousand miles starts with a single step. </p>
                    </div>
                    <div class="d-flex flex-row justify-content-center pb-2">
                        <div class="p-4">
                            <a href="https://www.facebook.com/debraj.sengupta.7311"><i class="fab fa-facebook fa-2x"></i></a>
                        </div>
                        <div class="p-4">
                            <a href="https://www.linkedin.com/in/debrajsengupta/"><i class="fab fa-linkedin fa-2x"></i></a>
                        </div>
                        <div class="p-4">
                            <a href="https://www.instagram.com/debrajsengupta/"><i class="fab fa-instagram fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>