<section id="Navbar" class="py-3 ">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
        <a href="/" class="navbar-brand"><img src="/images/exigency-logo.png" class="mx-3" width="40" height="40">Exigency Network</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                       <span class="navbar-toggler-icon">
                       </span>
               </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
            </ul>
        </div>
    </nav>

</section>
<section id="hero-area" class="py-3" style="margin: 0;padding:0;overflow:hidden">
    <div class="primary-overlay text-white">
        <div class="container">
            <div id="hero-banner" class="row align-item-center" style="display: none;">
                <div class="col">
                    <div class="text-center align-self-center align-center" >
                        <img src="/images/hero-area-banner-icon.png" alt="" class="hero-png pb-2 img-fluid">
                    </div>
                    <div class="text-center align-self-center align-center">
                        <h1>InValid Authentication Number</h1>
                        <a class="btn btn-rounded btn-danger" href="/">Try Again</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
